/*
 Theme Name:   Dallas Child
 Template:     dallas
 Version:      1.0.0
*/

.work-section .filter_title_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;

  .portfolio-categories {
    padding-left: 0;
  }
}
